@{
    ViewData["Title"] = "Home Page";
}

<div style="height: 500px;" class="d-flex font-weight-bold flex-column justify-content-center align-items-center text-center">
    <h1 class="text-white display-4">Communication is the solvent of all problems and is a foundation for development</h1><br>
    <button class="btn rounded-pill">Let's Get Started!</button>
</div>
