<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Better World Employment Services</title>
    <link rel="stylesheet" href="~/css/Card.css" type="text/css" />
    <link rel="stylesheet" href="~/css/Button.css" type="text/css" />

</head>

<body>
    <div class="e-card playing">
        <div class="image"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="infotop">
            <br>
            <h1>Welcome to Better World
                <br>Employment Services
            </h1>
            <br>
            <div class="name">
                <p class="text-center">At Better World Employment Services, we embrace the profound impact of meaningful
                    work, recognizing
                    its power to transform lives. Our dedicated mission is to connect individuals with opportunities
                    that not only provide sustenance but also foster personal and professional development. Through our
                    efforts, we aim to strengthen communities by empowering individuals to thrive in fulfilling careers.
                </p>
                <br>
                <button class="button-register" style="margin: auto;"
                    onclick="location.href='@Url.Action("Register", "User")'">
                    <p class="button-text">Register Now</p> <span class="arrow"></span>
                </button>

            </div>
        </div>
    </div>
</body>

</html>
