@model FeedbackViewModel

@using (Html.BeginForm()) 
{
    <div>
        <h2>Feedback Form</h2>

        <div>
            <label>Module:</label>
            @Html.DropDownListFor(m => m.SelectedModule, new SelectList(Model.Modules, "Id", "Name"))
        </div>

        <div>
            <label>Teacher:</label>
            @Html.DropDownListFor(m => m.SelectedTeacher, new SelectList(Model.Teachers, "Id", "Name"))
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sn</th>
                    <th>Points</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.FeedbackQuestions.Count; i++)
                {
                    <tr>
                        <td>@(i + 1)</td>
                        <td>@Model.FeedbackQuestions[i].Qn</td>
                        <td>
                            <select name="Ratings[@i]" class="form-control">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div>
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </div>
}
