@model ModuleViewModel

@{
    ViewData["Title"] = "Create Module";
}

<link rel="stylesheet" href="~/css/Create.css">

<h1>Create Module</h1>

<form asp-action="CreateModule">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <input type="submit" value="Create Module" class="btn-custom" />
    </div>
</form>

<div>
    <a  class="btn-custom" asp-action="Index">Back to List</a>
</div>