@model GHM.Models.FeedbackQuestionViewModel

@{
    ViewData["Title"] = "CreateFeedbackQuestion";
}

<link rel="stylesheet" href="~/css/Create.css">

<h1>CreateFeedbackQuestion</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateFeedbackQuestion">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Q1" class="control-label"></label>
                <input asp-for="Q1" class="form-control" />
                <span asp-validation-for="Q1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q2" class="control-label"></label>
                <input asp-for="Q2" class="form-control" />
                <span asp-validation-for="Q2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q3" class="control-label"></label>
                <input asp-for="Q3" class="form-control" />
                <span asp-validation-for="Q3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q4" class="control-label"></label>
                <input asp-for="Q4" class="form-control" />
                <span asp-validation-for="Q4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn-custom"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn-custom" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    h1, .control-label{
        color: white;
    }
    /* Button Styles */
    .btn-custom {
        color: #1C5792;
        margin: 10px 0px;
        text-decoration: none;
        /* Removes underline */
        background-color: white;
        /* Blue background */
        border: 1px solid #1C5792;
        /* Blue border */
        padding: 10px 20px;
        /* Padding */
        border-radius: 5px;
        /* Rounded corners */
        display: inline-block;
        /* Align properly */
        transition: background-color 0.3s, color 0.3s;
        /* Smooth transition */
    }

    .btn-custom:hover {
        background-color: #1C5792;
        ;
        /* Orange background on hover */
        color: white;
        /* White text on hover */
        border: 1px solid #F1802B;
        /* Orange border on hover */
    }
</style>